@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.adBackground {
  background: linear-gradient(#357355 0%, #1D483B 100%);
}

.vegan {
  background: linear-gradient( #6CC63F 0%, #6CC63F 10%);
}

.meat {
  background: linear-gradient( #CC261B 0%, #CC261B 10%);

}

.recipebg {
  background: linear-gradient( #E7F9FD 0%, #E7F9FD 100%);

}

.adText {
  background: linear-gradient(#ffffff 60%, #feb47b 100%);
  -webkit-background-clip: text;
  color: transparent;
}
/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
