@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.adBackground {
  background: linear-gradient(45deg, #357355 100%, #1D483B 100%);
}

.adText {
  background: linear-gradient(#ffffff 60%, #feb47b 100%);
  -webkit-background-clip: text;
  color: transparent;
}
/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
